In [1]:
pip install pandas

Requirement already satisfied: pandas in ./anaconda3/lib/python3.10/site-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in ./anaconda3/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in ./anaconda3/lib/python3.10/site-packages (from pandas) (2022.7)
Requirement already satisfied: numpy>=1.21.0 in ./anaconda3/lib/python3.10/site-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in ./anaconda3/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install numpy

Requirement already satisfied: numpy in ./anaconda3/lib/python3.10/site-packages (1.23.5)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd

In [4]:
print(len("khawar "))

7

In [6]:
print(len("012345"))
print(len("12345"))

6
5

In [8]:
print(len(012345))

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (2638990985.py, line 1)

In [9]:
print(len(12345))

TypeError: object of type 'int' has no len()

In [4]:
Nitesh='He is awesome'
Bunty=3
Waist=40.7
print(Nitesh)
print(Bunty)
print(Waist)
print(type(Nitesh))
print(type(Bunty))
print(type(Waist))

He is awesome
3
40.7
<class 'str'>
<class 'int'>
<class 'float'>

In [5]:
print(Nitesh+Waist)

TypeError: can only concatenate str (not "float") to str

In [6]:
CUTM="He works here" 
CUTM

'He works here'

In [7]:
print(Nitesh+CUTM)

He is awesomeHe works here

In [9]:
Golu="He is smart "
Goli="32"
print(Golu+Goli)

He is smart 32

In [11]:
Golu="28"
Goli= " 32" 
print(Golu+Goli)

28 32

In [12]:
print(int(Golu)+int(Goli))

60

In [13]:
print("I love my Uni")

I love my Uni

In [14]:
print(10* "I love my Uni")

I love my UniI love my UniI love my UniI love my UniI love my UniI love my UniI love my UniI love my UniI love my UniI love my Uni

In [15]:
print(10* "I love my Uni\n")

I love my Uni
I love my Uni
I love my Uni
I love my Uni
I love my Uni
I love my Uni
I love my Uni
I love my Uni
I love my Uni
I love my Uni

In [16]:
print(10* str(int(Golu)+int(Goli)))

60606060606060606060

In [17]:
print(10* (int(Golu)+int(Goli)))

600

In [18]:
25+25

50