In [1]:
range(5)

range(0, 5)

In [3]:
for t in range(5):
    print(t)

0
1
2
3
4

In [4]:
for z in range(2,7):
    print(z)

2
3
4
5
6

In [5]:
for k in range(2,9,2):
    print(k)

2
4
6
8

In [6]:
for k in range(2,9,1):
    print("hallo")

hallo
hallo
hallo
hallo
hallo
hallo
hallo

In [7]:
for k in range(1,11):
    print(2*k)

2
4
6
8
10
12
14
16
18
20

In [8]:
for a in range(1,11):
    print("2*", a,"=", 2*a)

2* 1 = 2
2* 2 = 4
2* 3 = 6
2* 4 = 8
2* 5 = 10
2* 6 = 12
2* 7 = 14
2* 8 = 16
2* 9 = 18
2* 10 = 20

In [9]:
for z in range(10,2, -1):
    print(z)

10
9
8
7
6
5
4
3

In [11]:
i=1
while i <=10:
    print("Khawar is awesome")
    i=i+1

Khawar is awesome
Khawar is awesome
Khawar is awesome
Khawar is awesome
Khawar is awesome
Khawar is awesome
Khawar is awesome
Khawar is awesome
Khawar is awesome
Khawar is awesome

In [12]:
i=1
while i <=10:
    print(i,"Khawar is awesome")
    i=i+1

1 Khawar is awesome
2 Khawar is awesome
3 Khawar is awesome
4 Khawar is awesome
5 Khawar is awesome
6 Khawar is awesome
7 Khawar is awesome
8 Khawar is awesome
9 Khawar is awesome
10 Khawar is awesome

In [13]:
i=1
while i <=10:
    print(i,"Khawar is awesome")
    i=i+1
print(i)

1 Khawar is awesome
2 Khawar is awesome
3 Khawar is awesome
4 Khawar is awesome
5 Khawar is awesome
6 Khawar is awesome
7 Khawar is awesome
8 Khawar is awesome
9 Khawar is awesome
10 Khawar is awesome
11

In [15]:
r=10
while r>=1:
    print(r,"Awesome")
    r=r-1
print(r)

10 Awesome
9 Awesome
8 Awesome
7 Awesome
6 Awesome
5 Awesome
4 Awesome
3 Awesome
2 Awesome
1 Awesome
0

In [16]:
i=0
while(i<45):
    print(i+1)
    i=i+1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45

In [18]:
i=0
while(i<45):
    print(i+1, end=" ")
    i=i+1

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45

In [19]:
y=int(input("How many beer you want"))
i=1
while i<=y:
    print("Beer")
    i=i+1

How many beer you want8
Beer
Beer
Beer
Beer
Beer
Beer
Beer
Beer

In [21]:
a=5
y=int(input("How many beer you want"))
i=1
while i<=y:
    if i>a:
        print("Itna hi hai")
        break
    print("Beer")
    i=i+1
print("Auf wiedersehen")

How many beer you want6
Beer
Beer
Beer
Beer
Beer
Itna hi hai
Auf wiedersehen

In [22]:
for i in range(5):
    print("Hello", i)

Hello 0
Hello 1
Hello 2
Hello 3
Hello 4

In [24]:
for i in range(5):
    if i==3:
        continue
    print("Hello", i)

Hello 0
Hello 1
Hello 2
Hello 4

In [25]:
for i in range(5):
    if i==3:
        break
    print("Hello", i)

Hello 0
Hello 1
Hello 2

In [26]:
for i in range(5):
    if i==3:
        break
    print("Hello", i)
def func():
    pass
if i==4:
    pass

Hello 0
Hello 1
Hello 2

In [27]:
print("5+6 is", 5+6)
print("5*6 is", 5*6)
print("2**2 is", 2**2)
print("15/3 is", 15/3)
print("15//3 is", 15//3)

5+6 is 11
5*6 is 30
2**2 is 4
15/3 is 5.0
15//3 is 5

In [28]:
x=5
print(x)
y=5+x
print(y)

5
10

In [29]:
i=5
print(i==5)

True

In [30]:
i=5
print(i>5)

False

In [31]:
a=True
b=False
print( a and a)

True

In [36]:
a=True
b=False
print( a and b)
print(b and a)

False
False

In [37]:
a= True
b= False
print(5 is 5)
print(5 is 6)
print(5 is not 6)

True
False
True

<>:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:4: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:5: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:4: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:5: SyntaxWarning: "is not" with a literal. Did you mean "!="?
/var/folders/0m/18x3dtwx7296ysm9t1g093x80000gn/T/ipykernel_8638/1814040710.py:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
  print(5 is 5)
/var/folders/0m/18x3dtwx7296ysm9t1g093x80000gn/T/ipykernel_8638/1814040710.py:4: SyntaxWarning: "is" with a literal. Did you mean "=="?
  print(5 is 6)
/var/folders/0m/18x3dtwx7296ysm9t1g093x80000gn/T/ipykernel_8638/1814040710.py:5: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  print(5 is not 6)

In [38]:
list=[3,4,5,9,13, 19]
print(19 in list)
print(101 in list)
print(109 not in list)

True
False
True

In [40]:
N="Khawar is awesome"
L=len(N)
print(L)

17

In [41]:
N="Khawar is awesome"
L=len(N)
for a in range(L):
    print(N[a])

K
h
a
w
a
r

i
s

a
w
e
s
o
m
e

In [42]:
N="Khawar is awesome"
L=len(N)
for a in range(L):
    print(N[2])

a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a

In [43]:
N="Khawar is awesome"
L=len(N)
for a in range(L-1,-1, -1):
    print(N[a])

e
m
o
s
e
w
a

s
i

r
a
w
a
h
K

In [44]:
N="Khawar is awesome"
for a in N:
    print(a)

K
h
a
w
a
r

i
s

a
w
e
s
o
m
e

In [47]:
list_1=["Apfel","Orange","Banana","Kirsche"]
print(list_1[0], list_1[2])

Apfel Banana

In [48]:
for item in list_1:
    print(item)

Apfel
Orange
Banana
Kirsche

In [49]:
list_2=[["Apfel", 1], ["Orange", 3], ["Banana", 5], ["Kirsche", 7]]
for item, toffee in list_2:
    print(item,"toffee is", toffee)

Apfel toffee is 1
Orange toffee is 3
Banana toffee is 5
Kirsche toffee is 7

In [50]:
list_3=[["Apfel", 1], ["Orange", 3], ["Banana", 5], ["Kirsche", 7]]
dict1=dict(list_3)
for item in dict1:
    print(item)

Apfel
Orange
Banana
Kirsche

In [52]:
list_4=[["Apfel", 1], ["Orange", 3], ["Banana", 5], ["Kirsche", 7]]
dict1=dict(list_3)
for item, toffee in dict1.items():
    print(item,"toffee is", toffee)

Apfel toffee is 1
Orange toffee is 3
Banana toffee is 5
Kirsche toffee is 7

In [54]:
n = 4
for i in range(0, n):
    print(i)

0
1
2
3